<!-- template파일: html을 기반 + django문법 = django html -->
{%extends "layout.html"%}
{%block title%}설문목록{%endblock%}
{%block contents%}

    <h1>설문 목록</h1>
    
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">설문 질문 수: {{question_list|length}}</li>
        {% for s in question_list %}
        <li class="list-group-item">
            <!-- <a href="/polls/vote_form/{{s.pk}}"> -->
                <a href="{%url 'polls:vote' s.pk%}">
                {{s.id}} {{s.question_text|truncatewords:3}}

            </a>
            등록날짜:
            {{s.pub_date|date:'Y-m-d'}}
        </li>
        {% endfor%}
    </ul>
{%endblock contents%}