<!-- template파일: html을 기반 + django문법 = django html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll List</title>
</head>
<body>
    <!-- <a href='https://daum.net'>Daum</a><br>
    <a href='https://naver.com'>naver</a><br>   -->
    <h1>설문 목록</h1>
    <ul>
        {% for s in question_list %}
        <li>
            <a href="/polls/vote_form/{{s.id}}">{{s.question_text}}</a>
            등록날짜:
            {{s.pub_date|date:'Y-m-d'}}
        </li>
        {% endfor%}
    </ul>
   
</body>
</html>